@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

body {
  background: #f5f6f7;
  color: #1b1b32;
  font-family: Helvetica;
  margin: 0;
}

header {
  width: 100%;
  height: 183px;
  background-color: #CCBAA4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
}

#logo {
    
  background-color: #CCBAA4;
  padding-left: 75px;
}

h1 {
  color: #CCBAA4;
  font-size: min(5vw, 1.2em);
  text-align: center;
}

main {padding-top: 190px;}

nav {
  width: 1700%;
  max-width: 1700px;
  height: 200px;
}

nav > ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding-inline-start: -50;
  margin-block: 0;
  height: 100%;
}

nav > ul > li {
  color: #35221E;
  margin: 0 0.2rem;
  padding: 0.2rem;
  display: block;
}

nav > ul > li:hover {
  background-color: #35221E;
  color: white;
  cursor: pointer;
}

li > a {
  color: inherit;
  text-decoration: none;
}

#driverapp {margin-left: 20%;
 margin-right:20%}
